body {
    padding-top: 70px;
}
.navbar img {
    width:40px;
}

/*Box result*/
.boxPromo {
    margin-top: 50px;
}

.boxPromo img {
    height: 150px;
    object-fit: contain;
}

.logo {
    max-height: 150px;
}


.nav-city a.cityButton {
    color:black;
}

.nav-city a.cityButton:hover {
    color:darkslategrey;
    border:1px solid darkslategrey;
}

.nav-city a.active:hover {
    color:white;
    border:0px solid darkslategrey;
}

